.divButton {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.button {
    width: 100px;
    border-radius: 20px;
    padding: 10px;
    outline: none;
    border: none;
    color: black;
    background-color: aquamarine;
}
.disabled {
    background-color: rgba(127, 255, 212, 0.432);
}