.header {
    position: relative;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    height: 200px;
}
.titulo {
    margin: 0px;
    text-align: center;
    z-index: 10;
}
.estilosGral {
    padding: 10px;
    border-radius: 20px;
    border: thin solid gray;
    outline: none;
}
.imagenRick {
    z-index: 0;
    position: absolute;
    background-color: transparent;
    height: 200px;
    max-width: 100%;
    opacity: 0.5;
}
